<br>
<h3> Página de estadísticas </h3>
<br>
 <ul>
    <li>Número total de preguntas: <font color="#0000AA"><%= noQuestions %></font></li>
    <li>Número total de comentarios: <font color="#0000AA"><%= noComments %></font></li>
    <li>Número medio de comentarios por pregunta: <font color="#0000AA"><%= avgCommentsPerQuestion %></font></li>
    <li>Número de preguntas sin comentarios: <font color="#0000AA"><%= noQuestionsNoComments %></font></li>
    <li>Número de preguntas con comentarios: <font color="#0000AA"><%= noQuestionWithComments %></font></li>
</ul>
<br>